<div class="container-component">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-form-field>
          <input matInput placeholder="Digite o nome aqui..." [formControl]="filtrar">
          <button mat-button matSuffix mat-icon-button (click)="filtrar.patchValue('')">
            <mat-icon *ngIf="filtrar.value">close</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-alunos-list [alunos]="alunos$ | async" [maxHeight]="'calc(100vh - 190px)'"></app-alunos-list>
    </mat-card-content>
  </mat-card>
  <button mat-mini-fab routerLink="/core/novo-aluno"><mat-icon>add</mat-icon></button>
</div>

