mat-card {
	padding: 8px;
	mat-card-header	{
		mat-card-title {
			mat-form-field {
				width: calc(100vw - 48px);
			}
		}
	}
}

button.mat-mini-fab {
	position: fixed;
	right: 25px;
	bottom: 25px;
}
