div.container-component {

	mat-card {
		min-height: calc(100vh - 58px - 48px);
		box-sizing: border-box;
	}

	img {
		margin-left: calc(50% - 125px);
		border-radius: 50%;
		width: 250px;

		@media (max-width: 599px) {
			margin-left: calc(50% - 125px);
		}
	}

	.section {
		display: flex;
		flex-direction: column;
		align-content: flex-start;
		align-items: flex-start;
		height: 60px;

		label {
			color: rgba(255,255,255,0.7);
			font-size: 0.75em;
		}

		mat-radio-group {
			display: flex;
			flex-direction: row;
			align-content: flex-start;
			align-items: flex-start;

			mat-radio-button {
				&:not(last-child) {
					margin-right: 7px;
				}
			}
		}
	}


	input.avatar {
		opacity: 0;
		height: 0;
	}

	.mat-radio-button {
		display: block;
		margin: 5px 0;
	}
}



