div.container-component {

	mat-card {
		min-height: calc(100vh - 58px - 48px);
		box-sizing: border-box;
	}

	img {
		margin-left: calc(50% - 125px);
		border-radius: 50%;
		width: 250px;

		@media (max-width: 599px) {
			margin-left: calc(50% - 125px);
		}
	}

	input.avatar {
		opacity: 0;
		height: 0;
	}

	.mat-radio-button {
		display: block;
		margin: 5px 0;
	}
}



