<div class="container-component">
	<mat-tab-group mat-stretch-tabs>
		<mat-tab label="Dados">
			<form [formGroup]="alunoForm" (submit)="inserir()" *ngIf="alunoForm" novalidate>
				<mat-card>
					<mat-card-content>
						<div class="row" *ngIf="avatarState$ | async; let avatarState">
							<div class="col">
								<img [src]="avatarState.url || '/assets/images/no-photo.png'" (click)="avatar()">
								<input #avatarInput class="avatar" type="file" placeholder="foto" (change)="avatarChange($event)">
								<mat-progress-bar mode="determinate" [value]="avatarState.percentage" *ngIf="avatarState.inProgress"></mat-progress-bar>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<mat-form-field>
									<input matInput placeholder="Nome" formControlName="nome">
									<mat-error *ngIf="alunoForm.controls['nome'].hasError('required')">
										O nome é <strong>obrigatório</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<mat-form-field>
									<input matInput placeholder="Responsavel" formControlName="responsavel">
								</mat-form-field>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<mat-form-field>
									<input matInput type="tel" placeholder="Telefone" formControlName="telefone">
								</mat-form-field>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<mat-form-field>
									<input matInput placeholder="Email" formControlName="email">
								</mat-form-field>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<mat-form-field>
									<input matInput type="date" placeholder="Data Nascimento" formControlName="nascimento">
								</mat-form-field>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<mat-form-field>
									<input matInput min="1" max="31" type="number" placeholder="Dia do Pagamento" formControlName="pagamento">
									<mat-error *ngIf="alunoForm.controls['pagamento'].hasError('required')">
										O dia do pagamento é <strong>obrigatório</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-raised-button color="primary" type="submit">Salvar</button>
						<button mat-raised-button type="button" routerLink="/core/alunos">Voltar</button>
					</mat-card-actions>
				</mat-card>
			</form>
		</mat-tab>
		<mat-tab label="Pagamento">
			<mat-card>
				<mat-card-content>
					<app-pagamentos-list [pagamentos]="pagamentos$ | async"></app-pagamentos-list>
				</mat-card-content>
			</mat-card>
      		<button mat-mini-fab (click)="novoPagamento()"><mat-icon>payment</mat-icon></button>
		</mat-tab>
		<mat-tab label="Frequência">
			<mat-card>
				<mat-card-content>
					Breve
				</mat-card-content>
			</mat-card>
		</mat-tab>
	</mat-tab-group>
</div>
