<form [formGroup]="pagamentoForm" (submit)="inserir()" *ngIf="pagamentoForm" novalidate>
	<mat-card>
		<mat-card-header>
			<mat-card-title>Novo pagamento</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="row">
				<div class="col">
					<mat-form-field>
						<input matInput type="month" placeholder="Mês de Referência" formControlName="referencia">
						<mat-error *ngIf="pagamentoForm.controls['referencia'].hasError('required')">
							O mês de referência é <strong>obrigatório</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field>
						<input matInput type="date" placeholder="Data de Pagamento" formControlName="data">
						<mat-error *ngIf="pagamentoForm.controls['data'].hasError('required')">
							A data de pagamento é <strong>obrigatória</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field>
						<input matInput type="number" placeholder="valor" formControlName="valor">
						<mat-error *ngIf="pagamentoForm.controls['valor'].hasError('required')">
							O valor do pagamento é <strong>obrigatório</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button type="submit">Inserir</button>
			<button mat-button type="button" (click)="cancelar()">Cancelar</button>
		</mat-card-actions>
	</mat-card>
</form>
